<html>
<head>
	<meta http-equiv="refresh" content="28"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <style>
        * {
            margin: 0;
            padding: 10;
        }
        .imgbox {
            display: grid;
            height: 90%;
        }
        .center-fit {
            object-fit;
            max-width: 90%;
            max-height: 80%;
            margin: auto;
        }
    </style>
</head>

</div>
<body style="background-color:#363636;">
<div>
    <p style="color:white;" class="h2 text-center"><b>{{subreddit}}: </b>'{{title}}'</p>

<div>
<div class="imgbox">

<img class="center-fit"  src="{{image}}" alt="LOL WHAT THE FUCK IS THIS">
</div>
</body>
</html>
